body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #35495e;
}

html,
body {
    height: 100%;
}

button,
h1,
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h1,h3{
    width: 295px;
    text-align: center;
}
h3 {
    
    font-size: 1.8rem;
    margin: 10px 0px;
    
    border: 2px solid #41b883;
    border-radius: 5px;
}

h1 {
    position: relative;
}

h1::after, h1::before {
    content: "";
    width: 100%;
    height: 3px;
    bottom: -15px;
    left: 1px;
    background-color: #41b883;
    position: absolute;
}
h1::before{
    top: -15px;
}

#app {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

button {
    width: 60px;
    margin: 5px 10px;
    padding: 10px 5px;
    color: #23303d;
    font:900 16px monospace;
    border: none;
    background-color: #41b883;
    border-radius: 2px;
    cursor: pointer;
    flex: 1 1 auto;
}

.buttonContainer {
    width: 200px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.buttonGrid button:nth-of-type(1) { grid-area: 2 / 1 / 3 / 2; }
.buttonGrid button:nth-of-type(2) { grid-area: 2 / 2 / 3 / 3; }
.buttonGrid button:nth-of-type(3) { grid-area: 2 / 3 / 3 / 4; }
.buttonGrid button:nth-of-type(4) { grid-area: 3 / 1 / 4 / 2; }
.buttonGrid button:nth-of-type(5) { grid-area: 3 / 2 / 4 / 3; }
.buttonGrid button:nth-of-type(6) { grid-area: 3 / 3 / 4 / 4; }
.buttonGrid button:nth-of-type(7) { grid-area: 4 / 1 / 5 / 2; }
.buttonGrid button:nth-of-type(8) { grid-area: 4 / 2 / 5 / 3; }
.buttonGrid button:nth-of-type(9) { grid-area: 4 / 3 / 5 / 4; }
.buttonGrid button:nth-of-type(10) { grid-area: 5 / 2 / 6 / 3; }
.buttonGrid button:nth-of-type(11) { grid-area: 5 / 3 / 6 / 4; }
.buttonGrid button:nth-of-type(12) { grid-area: 2 / 4 / 3 / 5; }
.buttonGrid button:nth-of-type(13) { grid-area: 3 / 4 / 4 / 5; }
.buttonGrid button:nth-of-type(14) { grid-area: 4 / 4 / 5 / 5; }
.buttonGrid button:nth-of-type(15) { grid-area: 5 / 4 / 6 / 5; }
.buttonGrid button:nth-of-type(16) { grid-area: 5 / 1 / 6 / 2; }
.buttonGrid button:nth-of-type(17) { grid-area: 1 / 1 / 2 / 2; }
.buttonGrid button:nth-of-type(18) { grid-area: 1 / 2 / 2 / 3; }
.buttonGrid button:nth-of-type(19) { grid-area: 1 / 3 / 2 / 4; }
.buttonGrid button:nth-of-type(20) { grid-area: 1 / 4 / 2 / 5; }

button:hover {
    background-color: #3dad7b;
}
